QPlainTextEdit {
    background-color: transparent;
    font-weight: bold;
    border: none;
    selection-background-color: #276b03;
    selection-color: black;
}

QScrollArea {
    background: transparent;
    /* фон самой области */
    border: none;
}

/* Область, внутри которой лежит виджет */
QScrollArea>QWidget#qt_scrollarea_viewport {
    background: #1e1e1e;
    /* фон содержимого */
    border: 1px solid #444;
    border-radius: 6px;
}

/* Вертикальный скроллбар */
QScrollBar:vertical {
    width: 8px;
    background: #1e1e1e;
    border: none;
    margin: 0px;
}

QScrollBar::handle:vertical {
    background: #666;
    min-height: 20px;
    border-radius: 4px;
}

QScrollBar::handle:vertical:hover {
    background: #888;
}

/* Кнопки стрелок (обычно скрывают) */
QScrollBar::add-line:vertical,
QScrollBar::sub-line:vertical {
    height: 0px;
    width: 0px;
}

/* Горизонтальный скроллбар (то же самое) */
QScrollBar:horizontal {
    height: 8px;
    background: #1e1e1e;
    border: none;
    margin: 0px;
}

QScrollBar::handle:horizontal {
    background: #666;
    min-width: 20px;
    border-radius: 4px;
}

QScrollBar::handle:horizontal:hover {
    background: #888;
}

QScrollBar::add-line:horizontal,
QScrollBar::sub-line:horizontal {
    height: 0px;
    width: 0px;
}